POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=nexus-db

# See https://www.prisma.io/docs/concepts/database-connectors/postgresql
# Host value is the default container name for postgres - @nest-postgres:5432
# change it when changing the container name
# DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@nest-postgres:5432/${POSTGRES_DB}?schema=public
# To have acccess to the database container from your local machine 
# use the DATABASE_URL below which replaces nest-postgres (container name) with localhost
DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@localhost:5432/${POSTGRES_DB}?schema=public

SERVER_ENV=development
SERVER_HOST=localhost
SERVER_PORT=3000

CLIENT_PATH=src/client/

OIDC_SESSION_SECRET=# Generate using `openssl rand -base64 33`
OIDC_CLIENT_ISSUER=http://localhost:3000/api/oidc
OIDC_CLIENT_ID=nexus
OIDC_CLIENT_SECRET=# Generate using `openssl rand -base64 33`, You must also change the secret in the oidc config as well
OIDC_CLIENT_REDIRECT_URI=http://localhost:3000/auth/callback
OIDC_CLIENT_POST_LOGOUT_REDIRECT_URI=http://localhost:3000